@keyframes transition1{
	0%{
		left:0;
	}
	100%{
		left: -100%;
	}
}
@keyframes transition2{
	0%{
		left: 100%;
	}
	100%{
		left: 0;
	}
}

.wapper{
	width: 25%;
	margin: auto;
	table{
		width: 100%;
		tr{
			th{
				text-align: left;
				color: white;
				background: black;
			}
		}
		tr:nth-child(2){
			color: red;
		}
		tr:nth-child(3){
			color: red;
		}
		tr:nth-child(4){
			color: red;
		}
		tr:nth-of-type(2n + 1){
			background: #CDCDCD;
		}
	}
	.box{
		text-align: center;
		input{
			margin-top: 40px;
			width: 100px;
			transition: width .5s;
			&:focus{
				width: 200px;
			}
		}
	}
	.canvas{
		width: 400px;
		height: 200px;
		background: green;
		position: relative;
		color: white;
		overflow: hidden;
		margin-top: 40px;
		ul{
			position: absolute;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			list-style-type: none;
			li{
				position: absolute;
				top: 0;
				left: -100%;
				width: 100%;
				height: 100%;
				animation: .5s transition1 linear;
				&:target{
					left: 0px;
					animation: .5s transition2 linear;
				}
			}
			.slide1{
				background: green;
			}
			.slide2{
				background: red;
			}
			.slide3{
				background: blue;
			}
		}
		.wapper-num{
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
			text-align: center;
		  	z-index: 100;
			a{
				display: inline-block;
				cursor: pointer;
				text-align: center;
				color: white;
				height: 30px;
				width: 30px;
				line-height: 30px;
				background: #B7B7B7;
				text-decoration: none;
			}
		}
		
	}	
}