*{
	padding: 0px;
	margin: 0px;
}
.header{
	height: 55px;
	width: 100%;
	background: #2189BF;
	.logo{
		padding: 10px;
		margin-left: 50px;
	}
	.search-login{
		float: right;
		margin-top: -50px;
		.search{
			margin-right: 180px;
			position: relative;
			input{
				width: 320px;
				height: 25px;
				border: none;
				font-size: 16px;
				line-height: 20px;
				border-radius: 15px;
			}
			img{
				position: absolute;
				top: 7px;
				left:15px;
			}
		}
		.head{
			display: inline-block;
			float: right;
			margin-right: 130px;
			margin-top: -20px;
		}
		p{
			float:right;
			color: white;
			margin-top: -22px;
			margin-right: 80px;
			font-size: 13px;
		}
	}
}
.wapper{
	.navbar{
		color: #AFB0B4;
		float: left;
		width: 260px;
		background: #2A2E3D;
		font-size: 15px;
		.name{
			.photo{
				img{
					display: inline-block;
					margin-top: 20px;
					margin-left: 40px;
				}
				p{
					display: inline-block;
					float: right;
					margin-top: 40px;
					margin-right: 40px;
					cursor: pointer;
					&:hover{
						color:white;
						font-weight: bold;
					}
				}
			}
			.wapper-cf{
				background: #2A2E3D;
				height: 80px;
				width: 260px;
				.collected{
					float: left;
					margin-top: 20px;
					width: 100px;
					margin-bottom: 20px;
					border-right: 2px solid #444A65;
					box-sizing: border-box;
					p{
						text-align: center;
						cursor: pointer;
						&:hover{
							color:white;
							font-weight: bold;
						}
					}
				}
				.fans{
					width: 160px;
					float: right;
					margin-top: 20px;
					margin-bottom: 20px;
					p{
						text-align:center;
						cursor: pointer;
						&:hover{
							color:white;
							font-weight: bold;
						}
					}
				}
			}
				
		}
		.report-forms{
			background: #383D4E;
			padding-left: 25px;
			cursor: pointer;
			.title{
				p{
					display: inline-block;
					margin-left: 10px;
				}
			}
			.documents{
				padding-left: 38px;
				.doc{
					margin-top: 15px;
					p{
						display: inline-block;
						margin-left: 10px;
					}
					.doc1{
						margin-top: 15px;
						margin-left: 30px;
						p{
							margin-left: 10px;
						}
					}
				}
			}
		}
		.wapper-msg{
			cursor: pointer;
			.personal-msg{
				img{
					padding-left: 28px;
				}
				p{
					padding-left: 8px;
					margin-top: 10px;
					margin-bottom:5px;
					display: inline-block;
				}
				&:hover{
					background-color: #383D4E;
				}
			}
		}
	}
	.contain{
		float: right;
		width: 1089px;
		margin-left: 260px;
		margin-top: -534px;
		background: #EEEEED;
		.title{
			padding-left: 25px;
			background-color:white;
			font-family: simhei;
			color: #383D4E;
		}
		.search-item{
			width: 890px;
			margin: auto;
			height: 84px;
			background: white;
			margin-top: 20px;
			margin-bottom: 10px;
			border: 1px solid #D3D3D3;
			color:#B7B7BE;
			font-size: 14px;
			font-family: simhei;
			.item{
				float: left;
				padding-left: 30px;
				padding-top: 20px;
				select{
					float: left;
					-webkit-appearance: none;
					margin-left: 60px;
					margin-top: -20px;
					height: 30px;
					padding: 0 15px;
					background-color: white;
					background: url("img/blue-arrow.gif") right no-repeat;
				}
			}
			.buy-sell{
				float: left;
				margin-left: 30px;
				margin-top: 20px;
				.buy{
					select{
						float: left;
						-webkit-appearance: none;
						margin-left: 40px;
						margin-top: -25px;
						height: 30px;
						width: 120px;
						padding: 0 15px;
						background-color: white;
						background: url("img/black-arrow.gif") right no-repeat;
					}
				}
				.sell{
					p{
						padding-top:13px;
					}
					select{
						float: left;
						-webkit-appearance: none;
						margin-left: 40px;
						margin-top: -25px;
						height: 30px;
						width: 120px;
						padding: 0 15px;
						background-color: white;
						background: url("img/black-arrow.gif") right no-repeat;
					}
				}
			}
			.change{
				margin-top: 20px;
				margin-left:-2px;
				float: left;
			}
			.date-number{
				float: left;
				margin-left: 30px;
				margin-top: 20px;
				.date{
					input{
						float: left;
						margin-left: 40px;
						margin-top: -25px;
						height: 30px;
						width: 120px;
						padding: 0 15px;
						width:140px;
					}
				}
				.number{
					select{
						float: left;
						-webkit-appearance: none;
						margin-left: 40px;
						margin-top: -19px;
						height: 30px;
						width: 120px;
						padding: 0 15px;
						background-color: white;
						background: url("img/black-arrow.gif") right no-repeat;
					
					}
				}
			}
		}
	}
}