* {
  padding: 0px;
  margin: 0px;
}
.header {
  height: 55px;
  width: 100%;
  background: #2189BF;
}
.header .logo {
  padding: 10px;
  margin-left: 50px;
}
.header .search-login {
  float: right;
  margin-top: -50px;
}
.header .search-login .search {
  margin-right: 180px;
  position: relative;
}
.header .search-login .search input {
  width: 320px;
  height: 25px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  border-radius: 15px;
}
.header .search-login .search img {
  position: absolute;
  top: 7px;
  left: 15px;
}
.header .search-login .head {
  display: inline-block;
  float: right;
  margin-right: 130px;
  margin-top: -20px;
}
.header .search-login p {
  float: right;
  color: white;
  margin-top: -22px;
  margin-right: 80px;
  font-size: 13px;
}
.wapper .navbar {
  color: #AFB0B4;
  float: left;
  width: 260px;
  background: #2A2E3D;
  font-size: 15px;
}
.wapper .navbar .name .photo img {
  display: inline-block;
  margin-top: 20px;
  margin-left: 40px;
}
.wapper .navbar .name .photo p {
  display: inline-block;
  float: right;
  margin-top: 40px;
  margin-right: 40px;
  cursor: pointer;
}
.wapper .navbar .name .photo p:hover {
  color: white;
  font-weight: bold;
}
.wapper .navbar .name .wapper-cf {
  background: #2A2E3D;
  height: 80px;
  width: 260px;
}
.wapper .navbar .name .wapper-cf .collected {
  float: left;
  margin-top: 20px;
  width: 100px;
  margin-bottom: 20px;
  border-right: 2px solid #444A65;
  box-sizing: border-box;
}
.wapper .navbar .name .wapper-cf .collected p {
  text-align: center;
  cursor: pointer;
}
.wapper .navbar .name .wapper-cf .collected p:hover {
  color: white;
  font-weight: bold;
}
.wapper .navbar .name .wapper-cf .fans {
  width: 160px;
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}
.wapper .navbar .name .wapper-cf .fans p {
  text-align: center;
  cursor: pointer;
}
.wapper .navbar .name .wapper-cf .fans p:hover {
  color: white;
  font-weight: bold;
}
.wapper .navbar .report-forms {
  background: #383D4E;
  padding-left: 25px;
  cursor: pointer;
}
.wapper .navbar .report-forms .title p {
  display: inline-block;
  margin-left: 10px;
}
.wapper .navbar .report-forms .documents {
  padding-left: 38px;
}
.wapper .navbar .report-forms .documents .doc {
  margin-top: 15px;
}
.wapper .navbar .report-forms .documents .doc p {
  display: inline-block;
  margin-left: 10px;
}
.wapper .navbar .report-forms .documents .doc .doc1 {
  margin-top: 15px;
  margin-left: 30px;
}
.wapper .navbar .report-forms .documents .doc .doc1 p {
  margin-left: 10px;
}
.wapper .navbar .wapper-msg {
  cursor: pointer;
}
.wapper .navbar .wapper-msg .personal-msg img {
  padding-left: 28px;
}
.wapper .navbar .wapper-msg .personal-msg p {
  padding-left: 8px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
}
.wapper .navbar .wapper-msg .personal-msg:hover {
  background-color: #383D4E;
}
.wapper .contain {
  float: right;
  width: 1089px;
  margin-left: 260px;
  margin-top: -534px;
  background: #EEEEED;
}
.wapper .contain .title {
  padding-left: 25px;
  background-color: white;
  font-family: simhei;
  color: #383D4E;
}
.wapper .contain .search-item {
  width: 890px;
  margin: auto;
  height: 84px;
  background: white;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #D3D3D3;
  color: #B7B7BE;
  font-size: 14px;
  font-family: simhei;
}
.wapper .contain .search-item .item {
  float: left;
  padding-left: 30px;
  padding-top: 20px;
}
.wapper .contain .search-item .item select {
  float: left;
  -webkit-appearance: none;
  margin-left: 60px;
  margin-top: -20px;
  height: 30px;
  padding: 0 15px;
  background-color: white;
  background: url("img/blue-arrow.gif") right no-repeat;
}
.wapper .contain .search-item .buy-sell {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}
.wapper .contain .search-item .buy-sell .buy select {
  float: left;
  -webkit-appearance: none;
  margin-left: 40px;
  margin-top: -25px;
  height: 30px;
  width: 120px;
  padding: 0 15px;
  background-color: white;
  background: url("img/black-arrow.gif") right no-repeat;
}
.wapper .contain .search-item .buy-sell .sell p {
  padding-top: 13px;
}
.wapper .contain .search-item .buy-sell .sell select {
  float: left;
  -webkit-appearance: none;
  margin-left: 40px;
  margin-top: -25px;
  height: 30px;
  width: 120px;
  padding: 0 15px;
  background-color: white;
  background: url("img/black-arrow.gif") right no-repeat;
}
.wapper .contain .search-item .change {
  margin-top: 20px;
  margin-left: -2px;
  float: left;
}
.wapper .contain .search-item .date-number {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}
.wapper .contain .search-item .date-number .date input {
  float: left;
  margin-left: 40px;
  margin-top: -25px;
  height: 30px;
  width: 120px;
  padding: 0 15px;
  width: 140px;
}
.wapper .contain .search-item .date-number .number select {
  float: left;
  -webkit-appearance: none;
  margin-left: 40px;
  margin-top: -19px;
  height: 30px;
  width: 120px;
  padding: 0 15px;
  background-color: white;
  background: url("img/black-arrow.gif") right no-repeat;
}
.wapper .contain .search-item .time-item {
  float: left;
  margin-top: 20px;
}
.wapper .contain .search-item .time-item .time {
  margin-left: 30px;
}
.wapper .contain .search-item .time-item .time select {
  float: left;
  -webkit-appearance: none;
  margin-left: 50px;
  margin-top: -19px;
  height: 30px;
  width: 70px;
  padding: 0 15px;
  background-color: white;
  background: url("img/black-arrow.gif") right no-repeat;
}
.wapper .contain .search-item .time-item .item-ok {
  margin-left: -20px;
}
.wapper .contain .search-item .time-item .item-ok select {
  float: left;
  -webkit-appearance: none;
  margin-left: 60px;
  margin-top: -19px;
  height: 30px;
  width: 110px;
  padding: 0 15px;
  background-color: white;
  background: url("img/black-arrow.gif") right no-repeat;
}
.wapper .contain .search-item .search-btn button {
  margin-left: 35px;
  margin-top: 30px;
  background: #388BC2;
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: white;
}
.wapper .contain .amMoney {
  width: 890px;
  margin: auto;
  height: 63px;
  color: #B7B7BE;
  background: #eeeeed;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #D3D3D3;
  text-align: center;
  font-family: simhei;
}
.wapper .contain .amMoney .lt {
  width: 29px;
  height: 100%;
  font-size: 30px;
  padding: 13px 5px;
  box-sizing: border-box;
  background: white;
  float: left;
}
.wapper .contain .amMoney .am-money {
  width: 109px;
  height: 100%;
  float: left;
  box-sizing: border-box;
  border-top: 5px solid #fff;
  transition: all 0.2s ease-out;
  margin-left: 5px;
  background: white;
  cursor: pointer;
}
.wapper .contain .amMoney .am-money .am {
  margin-top: 3px;
  margin-bottom: 1px;
  color: black;
}
.wapper .contain .amMoney .am-money .money {
  font-size: 20px;
}
.wapper .contain .amMoney .am-money .money em {
  font-size: 30px;
  font-style: normal;
  color: #EC6602;
  font-weight: 700;
}
.wapper .contain .amMoney .am-money:hover {
  border-top: 5px solid #388BC2;
}
.wapper .contain .amMoney .gt {
  margin-left: 5px;
  width: 29px;
  height: 100%;
  font-size: 30px;
  padding: 13px 5px;
  box-sizing: border-box;
  background: white;
  float: left;
}
.wapper .contain .amMoney .history {
  float: left;
  width: 138px;
  height: 63px;
  font-size: 14px;
  background: white;
  margin-left: 5px;
}
.wapper .contain .amMoney .history img {
  float: left;
  margin-left: 20px;
  margin-top: 13px;
}
.wapper .contain .amMoney .history p {
  margin-top: 23px;
  color: #551A8B;
}
.wapper .contain .statictics {
  width: 890px;
  margin: auto;
  height: 100px;
  background: #eeeeed;
  font-family: simhei;
}
.wapper .contain .statictics .bargain1 {
  float: left;
  margin-top: 5px;
  font-size: 14px;
  width: 196px;
  height: 69px;
  box-sizing: border-box;
  border-left: 4px solid #44B29E;
  background: white;
}
.wapper .contain .statictics .bargain1 p {
  margin-left: 10px;
  margin-top: 8px;
}
.wapper .contain .statictics .bargain1 .color1 {
  width: 60px;
  height: 45px;
  background-color: #44B29E;
  float: right;
  margin-top: -38px;
  margin-right: 15px;
}
.wapper .contain .statictics .bargain2 {
  float: left;
  margin-top: 5px;
  margin-left: 35px;
  font-size: 14px;
  width: 196px;
  height: 69px;
  box-sizing: border-box;
  border-left: 4px solid #398BC2;
  background: white;
}
.wapper .contain .statictics .bargain2 p {
  margin-left: 10px;
  margin-top: 8px;
}
.wapper .contain .statictics .bargain2 .color2 {
  width: 60px;
  height: 45px;
  background-color: #398BC2;
  float: right;
  margin-top: -38px;
  margin-right: 15px;
}
.wapper .contain .statictics .bargain3 {
  float: left;
  margin-top: 5px;
  margin-left: 35px;
  font-size: 14px;
  width: 196px;
  height: 69px;
  box-sizing: border-box;
  border-left: 4px solid #CF4A36;
  background: white;
}
.wapper .contain .statictics .bargain3 p {
  margin-left: 10px;
  margin-top: 8px;
}
.wapper .contain .statictics .bargain3 .color3 {
  width: 60px;
  height: 45px;
  background-color: #CF4A36;
  float: right;
  margin-top: -38px;
  margin-right: 15px;
}
.wapper .contain .statictics .bargain4 {
  float: left;
  margin-top: 5px;
  margin-left: 35px;
  font-size: 14px;
  width: 196px;
  height: 69px;
  box-sizing: border-box;
  border-left: 4px solid #E2CD47;
  background: white;
}
.wapper .contain .statictics .bargain4 p {
  margin-left: 10px;
  margin-top: 8px;
}
.wapper .contain .statictics .bargain4 .color4 {
  width: 60px;
  height: 45px;
  background-color: #E2CD47;
  float: right;
  margin-top: -38px;
  margin-right: 15px;
}
.wapper .contain .project-detail {
  width: 890px;
  margin: auto;
  height: 355px;
  background: #eeeeed;
  margin-top: 5px;
  font-family: simhei;
}
.wapper .contain .project-detail .project {
  float: left;
  width: 530px;
  height: 355px;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
  background: white;
}
.wapper .contain .project-detail .project .pro-title {
  width: 100%;
  height: 42px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #F4F6F7;
  color: #AAAAAA;
  font-size: 14px;
  padding-top: 10px;
  box-sizing: border-box;
  padding-left: 20px;
}
.wapper .contain .project-detail .project .project-item {
  position: relative;
  padding: 10px 20px;
}
.wapper .contain .project-detail .project .project-item ul {
  margin: 0;
  padding: 0;
}
.wapper .contain .project-detail .project .project-item ul li {
  display: inline-block;
  position: relative;
  width: 70px;
  line-height: 30px;
  text-align: center;
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.wapper .contain .project-detail .project .project-item ul li input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 99;
  cursor: pointer;
  left: 0;
}
.wapper .contain .project-detail .project .project-item ul li input:checked + span {
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}
.wapper .contain .project-detail .project .project-item ul li input:checked + span + .tab {
  display: block;
}
.wapper .contain .project-detail .project .project-item ul li span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ededf0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 1;
}
.wapper .contain .project-detail .project .project-item ul li .tab {
  display: none;
  position: absolute;
  width: 409px;
  height: 171px;
  padding: 20px;
  top: 31px;
  border: 1px solid #aaaaaa;
  z-index: 0;
  padding: 40px 40px;
  border-radius: 0 5px 5px 5px;
}
.wapper .contain .project-detail .project .project-item ul li .tab table {
  width: 100%;
  text-align: center;
}
.wapper .contain .project-detail .project .project-item ul li .tab table td {
  border: 1px solid #aaa;
  font-size: 14px;
}
.wapper .contain .project-detail .project .project-item ul li .item-2 {
  margin-left: -80px;
  border-top-left-radius: 5px;
}
.wapper .contain .project-detail .project .project-item ul li .item-3 {
  margin-left: -160px;
  border-top-left-radius: 5px;
}
.wapper .contain .project-detail .project .project-item ul li .item-4 {
  margin-left: -235px;
  border-top-left-radius: 5px;
}
.wapper .contain .project-detail .project .project-item ul li .item-5 {
  margin-left: -315px;
  border-top-left-radius: 5px;
}
.wapper .contain .project-detail .detail {
  float: left;
  width: 350px;
  height: 355px;
  margin-left: 6px;
  border-radius: 8px;
  border: 1px solid #D3D3D3;
  background: white;
}
.wapper .contain .project-detail .detail .pro-title {
  width: 100%;
  height: 42px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #F4F6F7;
  color: #AAAAAA;
  font-size: 14px;
  padding-top: 10px;
  box-sizing: border-box;
  padding-left: 20px;
}
.wapper .contain .project-detail .detail .important-detail {
  padding: 20px 35px;
  font-size: 14px;
}
.wapper .contain .project-detail .detail .important-detail .head {
  text-align: left;
  border-bottom: 1px solid #E7E7E7;
  padding-bottom: 4px;
}
.wapper .contain .project-detail .detail .important-detail .head p {
  color: #CCCBCB;
}
.wapper .contain .project-detail .detail .important-detail .cost {
  float: left;
  width: 40%;
  padding-top: 5px;
  padding-bottom: 8px;
  border-bottom: 1px solid #E7E7E7;
  border-right: 1px solid #e7e7e7;
}
.wapper .contain .project-detail .detail .important-detail .cost p {
  color: #cccbcb;
}
.wapper .contain .project-detail .detail .important-detail .person {
  padding-top: 5px;
  padding-bottom: 8px;
  border-bottom: 1px solid #E7E7E7;
}
.wapper .contain .project-detail .detail .important-detail .person p {
  color: #cccbcb;
}
.wapper .contain .project-detail .detail .important-detail .description {
  margin-top: 60px;
  padding-bottom: 50px;
  border-bottom: 1px solid #E7E7E7;
}
.wapper .contain .project-detail .detail .important-detail .description p {
  color: #cccbcb;
}
.wapper .contain .project-detail .detail .important-detail input {
  margin-top: 10px;
  float: left;
}
.wapper .contain .project-detail .detail .important-detail .allow {
  float: left;
  margin-top: 8px;
  margin-left: 10px;
  color: #cccbcb;
}
.wapper .contain .project-detail .detail .important-detail .searchbtn {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  background: #388BC2;
  color: white;
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.wapper .contain .calendar-car {
  width: 890px;
  margin: auto;
  height: 410px;
  background: #eeeeed;
  margin-top: 5px;
  font-family: simhei;
  margin-top: 10px;
}
.wapper .contain .calendar-car .calendar-wapper {
  width: 350px;
  height: 410px;
  background: white;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
}
.wapper .contain .calendar-car .calendar-wapper .title {
  width: 100%;
  height: 42px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #F4F6F7;
  color: #AAAAAA;
  font-size: 14px;
  padding-top: 10px;
  box-sizing: border-box;
  padding-left: 20px;
}
.wapper .contain .calendar-car .calendar-wapper .time {
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #A9CFEC;
}
.wapper .contain .calendar-car .calendar-wapper .time select {
  -webkit-appearance: none;
  background: url("img/arrow-down.png") right no-repeat;
  padding: 3px 20px 3px 3px;
}
.wapper .contain .calendar-car .calendar-wapper .time input {
  background: white;
  border: 1px solid #A9A9A9;
  padding: 3px 20px;
}
.wapper .contain .calendar-car .calendar-wapper .calendar table {
  width: 90%;
  margin: auto;
}
.wapper .contain .calendar-car .calendar-wapper .calendar table .week td {
  width: 45px;
  height: 53px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 2px solid #E1E1E1;
}
.wapper .contain .calendar-car .calendar-wapper .calendar table .day td {
  width: 45px;
  height: 53px;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
}
.wapper .contain .calendar-car .calendar-wapper .calendar table .day td .yuren {
  color: #FF0000;
}
.wapper .contain .calendar-car .calendar-wapper .calendar table .day td .qingming {
  color: #ff0000;
}
.wapper .contain .calendar-car .calendar-wapper .calendar table td:hover {
  border: 1px solid #F7D463;
}
/*# sourceMappingURL=task9.css.map */